{% extends 'base.html.twig' %}

{% block title %}Comment ça marche{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row bd-highlight  mt-5 concours-1">
            <div class=" bd-highlight contenue-text col">
                <h1>LE CONCOURS <br>DU MOMENT</h1>
                <p>
                    Le brief: A l'aide d'une infographie, illustre <br>
                    le thème suivant:"Comment a évolué le <br> 
                    paysage des restaurants en France entre <br>
                    2012 et 2022 ?" Tu dois illustrer cette <br>
                    infographie en t'appuyant sur le <br>
                    périmètre de la commune <br>
                    Des prix sont à la clé ! 
                </p>
            </div>
            <div class=" col d-flex">
                <div class=" bd-highlight contenue-image">
                    <img src="{{ asset('assets/image/ELEMENT-DE-CONCOURS.png')}}" alt="">
                </div>
                <div class=" bd-highlight telecharger">
                    <p>Télécharger le fichier de données</p>
                    <p>Lien vers le géocodeur</p>
                </div>
            </div>
        </div>
    </div>


    <div class=" row bd-highlight mb-3 concours-2">
        <div class="p-2 bd-highlight mt-5 col">
            <h1>UPLOAD TON <br>
                FICHIER DE <br>
                GEOINFOGRAPHIE <br>
            </h1>
            <p>
                Tu dois être incrit avant d'uploader <br>
                ton fichier. 
            </p>
            <p>
                Tu n'as pas encore de compte ? <br>
                Créer un compte
            </p>
            <p>
                Tu veux seulement voter pour la <br>
                meilleure infographie ? <br>
                Créer un compte 
            </p>
        </div>
        <div class="p-2 bd-highlight telecharger-file mt-5 col">
            <div class="btn-telecharger">
                <button class="js-show-modal1"> Telecharger</button>
            </div>
            <div class="upload-file">
                <img src="{{ asset('assets/image/infographie4.jpg')}}" alt="">
            </div>
        </div>
        
    </div>

        {# upload javascript #}

    <div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
            <div class="overlay-modal1 js-hide-modal1"></div>
    
            <div class="container">
                <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
                    <button class="how-pos3 hov3 trans-04 js-hide-modal1">
                        <img src="{{ asset('assets/image/icons/icon-close.png')}}" alt="CLOSE">
                    </button>
    
                    <div class="row">
                        <div class="col-md-6 col-lg-7 p-b-30">
                            {{ form(form)}}
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>


        {# fin upload javascript #}

    <div class=" bd-highlight mb-3 concours-3">
        <div class="p-2 bd-highlight mt-5">
            <h1>
                TU ES VOTANT ? <br>
                VOTE POUR L'INFOGRAPHIE <br>
                QUE TU PREFERE
            </h1>
        </div>
       

       
        <div class="owl-carousel owl-theme ">
            
            {% for concour in concours %}
                <div class="item concours-3">
                    <img width="260" height="500" src="{{ asset('uploads/')}}{{ concour.uplaod }}" alt="image">
                    <p>******</p>
                </div>
             {% endfor %}
             
        </div>
       
    </div>     



    <div class="container-fluid footer-2 row align-items-center">
        <div class="footer-item  justify-content-center col">
            <div>
                <a class="nav-link" href="">QUI SOMMES-NOUS?</a>
            </div>
            <div>
                <a class="nav-link" href="">CONFIDENTIALITE</a>
            </div>
            <div class="nav-image">
                <img class="carre" src="{{ asset('assets/image/ELEMENT3 FOND TRANSPARENT.png')}}" alt="">
            </div>
        </div>
        <div class="footer-item col">
            <div>
                <a class="nav-link" href="">RÈGLEMENT</a>
            </div>
            <div>
                <a class="nav-link" href="{{ path('app_mentionslegales')}}">MENTIONS LEGALES</a>
            </div>
            <div class="nav-image">
                <img class="cercle" src="{{ asset('assets/image/ELEMENT1-FOND TRANSPARENT.png')}}" alt="">
            </div>
        </div>
        <div class="footer-item col" >
            <div>
                <a class="nav-link" href="">CONTACT</a>
            </div>
            <div>
                <a class="nav-link" href="">CONDITIONS GENERALES</a>
            </div>
            <div class="nav-image">
                <img class="rectangle" src="{{ asset('assets/image/ELEMENT2-FOND TRANSPARENT.png')}}" alt="">
            </div>
        </div>
    </div>
    
       
        
    <!--===============================================================================================-->	
	    <script src=" {{ asset('assets/vendo/jquery/jquery-3.2.1.min.js')}}"></script>
    <!--===============================================================================================-->
        <script src="{{ asset('assets/vendo/animsition/js/animsition.min.js')}}"></script>
    <!--===============================================================================================-->
        <script src="{{ asset('assets/js/slick-custom.js')}}"></script>
    <!--===============================================================================================-->
        <script src="{{ asset('assets/js/main.js')}}"></script>
        <script src="{{ asset('assets/js/owl.carousel.min.js')}}"></script>

        <script >
        $(document).ready(function(){
            $('.owl-carousel').owlCarousel({
                loop:true,
                margin:30,
                responsiveClass:true,
                responsive:{
                    760:{
                        items:1,
                        nav:true
                    },
                    960:{
                        items:3,
                        nav:true,
                    },
                    1140:{
                        items:5,
                        nav:true,
                    }

                }
            });
        });

        </script>
        
{% endblock %}